# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Expo
.expo/
dist/

# iOS
ios/Pods/
ios/build/

# Android
android/build/
android/app/build/

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo
